@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

.generic-input-field{
    width: 100%;
    height: 5vh;
    border: none;
    margin-top: 10px;
    border-radius: 8px;
    font-weight: 300;
    padding-left: 10px;
    color: rgb(255, 255, 255);
    font-size: 0.85rem;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 400;
    background-color: #000000;
    margin-bottom: 20px;
    transition: all 0.2s ease-in;
    outline: 2px solid #0e00a6;
}

.generic-input-field:hover{
    outline: 3px solid #0e00a6;
    border: none;
}

.generic-input-field:focus {
    outline: 2.26px solid #0e00a6;
    border: none;
}

.generic-input-field:active {
    outline: 2.26px solid #0e00a6;
    border: none;
}