@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

.solutions-main-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Red Hat Display', sans-serif !important;
  background-color: #000000;
  background-image: url("../../../public/assets/solutions/solutionsBg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
}

.solutions-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  margin-bottom: 100px;
}

.solutions-top-div h2 {
  font-family: 'Red Hat Display', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2% 5% 5% 5%;
  font-weight: 300;
  font-size: 40px;
  text-align: center;
}


.solutions-top-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
  color: white;
}

.solutions-top-div h3 {
  font-family: 'Red Hat Display', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
  padding: 5px 10px;
  border-radius: 5px;
  background: linear-gradient(90deg, #082f94 20%, #7800E1 50%, #bc09c6 100%);
}

.theme-toggle {
  margin-top: 90px;
  position: absolute;
  top: 0rem;
  right: 1rem;
  background: transparent;
  border: 1px solid white;
  border-radius: 50%;
  cursor: pointer;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.theme-toggle:hover {
  transform: scale(1.1);
}

.theme-toggle .sun {
  color: #000;
}

.theme-toggle .moon {
  color: #ffffff; 
}

.solutions-bottom-div {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.solutions-category-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.solutions-category-button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: transparent;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 1px solid #fff;
  transition: background-color 0.2s ease, color 0.2s ease;
  cursor: pointer;
  color: #fff;
}

.category-icon {
  width: 20px;
  height: 20px;
}

.solutions-category-button.active {
  background-color: #fff;
  color: #000;
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 500;
}


.solutions-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
  width: 100%;
  max-width: 100%;
  margin-top: 50px;


}

.solutions-card {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: transparent;
  transition: background-color 0.3s ease;
  width: 100%;
  cursor: pointer;
  position: relative;
}

.solutions-card-img-layer {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  aspect-ratio: 16 / 9;
}

.solutions-card-image {
  object-fit: cover;
  width: 100%;
  height: auto;
  transform: scale(1);
  transition: transform 0.8s ease-in-out;
}


.solutions-card:hover .solutions-card-image {
  transform: scale(1.1);
}

.solutions-card-info {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

.solutions-card-tags {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  color: #fff;
  background-color: #000;
  font-weight: 600;
}

.solutions-card-date {
  background: #000000;
  border: 1px solid #a09f9f;
  border-radius: 5px;
  padding: 1px 5px;
}

.solutions-card-category {
  background: #000000;
  color: transparent;
  background: linear-gradient(to right, #0044ff 0%, #ff09a9 50%);
  -webkit-background-clip: text;
  background-clip: text;
  border-radius: 5px;
  border: 1px solid #a09f9f;
  padding: 1px 5px;
}

.solutions-card-title span {
  font-size: 25px;
  font-weight: 300;
  color: #fff;
  text-align: left;
  display: block;
  margin-top: 15px;
}


.hover-cursor {
  position: fixed;
  width: 120px;
  height: 40px;
  background: linear-gradient(90deg, #082f94 20%, #7800E1 50%, #bc09c6 100%);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 50;
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 0.25rem;
  cursor: none;
}

.solutions-card:hover .hover-cursor {
  opacity: 1;
}




/* light mode styles */

.light .solutions-main-container {
  background: rgb(248, 251, 255);
}

.light .theme-toggle {
  border: 1px solid #000;
  color: #000;
}



.light .solutions-top-div h2 {
  font-family: 'Red Hat Display', sans-serif;
  color: #000;
  font-weight: 300;
}

.light .solutions-category-button {
  border: 1px solid #000;
  color: #000;
}

.light .solutions-category-button.active {
  background-color: #d2d2d2;

}

.light .solutions-card {
  background: rgb(248, 251, 255);
  border: 2px solid #eff5ff;
}

.light .solutions-card-info {
  padding: 10px;
}

.light .solutions-card-tags {
  background: transparent;
}

.light .solutions-card-date,
.light .solutions-card-category {
  background: transparent;

}

.light .solutions-card-title span {
  font-family: 'Red Hat Display', sans-serif;
  display: block;
  color: #000;
  text-align: left;
}

.light .solutions-card-date {
  color: #000;
}

.light .solutions-card-category {
  color: transparent;
  background: linear-gradient(to right, #0044ff 0%, #ff09a9 50%);
  -webkit-background-clip: text;
  background-clip: text;
}






/* Media Queries */

@media (max-width: 1200px) {
  .solutions-cards {
    gap: 2rem;
  }
}

@media (max-width: 1024px) {
  .solutions-cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

@media (max-width: 640px) {
  .solutions-cards {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }

  .solutions-content {
    padding: 0 1rem;
  }

  .theme-toggle {
    margin-top: 85px;
  }

  .solutions-top-div h2 {
    font-size: 35px;
    margin: 35px 0px;
  }
}