@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 1;
  visibility: visible;
}

.loader-bg-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://d2l4gl47o0xxs9.cloudfront.net/AboutUs-Assets/BG-less.svg "); /* Replace with your image URL */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

.loader-content {
  position: relative;
  z-index: 1;
  text-align: center;
}

.loader-content p {
  font-family: "Red Hat Display", sans-serif !important;
  font-weight: 300;
  font-style: normal;
  color: #fff;
  font-size: 1rem;
  margin: 0;
  padding: 1rem; /* Optional: adds a semi-transparent background to make text more readable */
  border-radius: 4px;
}

.loader-content h2 {
  font-family: "Red Hat Display", sans-serif !important;
  font-weight: 300;
  font-style: normal;
  color: transparent;
  background: linear-gradient(to right, #0044ff 0%, #ff09a9 50%);
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 1.2rem;
  margin-bottom: 5px;
  border-radius: 4px;
}

@media screen and (max-width: 768px) {
  .loader-content p {
    font-family: "Red Hat Display", sans-serif !important;
    font-weight: 300;
    font-style: normal;
    color: #fff;
    font-size: 1rem;
    margin: 0;
    padding: 1rem; /* Optional: adds a semi-transparent background to make text more readable */
    border-radius: 4px;
  }

  .loader-content h2 {
    font-family: "Red Hat Display", sans-serif !important;
    font-weight: 300;
    font-style: normal;
    color: transparent;
    background: linear-gradient(to right, #0044ff 0%, #ff09a9 50%);
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 1.2rem;
    margin-bottom: 5px;
    border-radius: 4px;
  }
}

@media screen and (max-width: 480px) {
  .loader-content p {
    font-family: "Red Hat Display", sans-serif !important;
    font-weight: 300;
    font-style: normal;
    color: #fff;
    font-size: 1rem;
    margin: 0;
    padding: 1rem; /* Optional: adds a semi-transparent background to make text more readable */
    border-radius: 4px;
  }

  .loader-content h2 {
    font-family: "Red Hat Display", sans-serif !important;
    font-weight: 300;
    font-style: normal;
    color: transparent;
    background: linear-gradient(to right, #0044ff 0%, #ff09a9 50%);
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 1.2rem;
    margin-bottom: 5px;
    border-radius: 4px;
  }
}
