@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

.visualization-card {
    display: flex;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    overflow: hidden;
    background-color: #000;
    transition: background-color 0.3s ease;
    width: 45vh;
    height: 40vh;
    position: relative;
    border: 3px solid #2D2D2D;
    font-family: 'Red Hat Display', sans-serif !important;
    padding: 0.3rem;
    margin: 0 auto;
}

.visualization-card-img-layer {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    aspect-ratio: 16 / 9;
}

.visualization-card-image {
    object-fit: cover;
    width: 100%;
    height: auto;
    transform: scale(1);
    transition: transform 0.8s ease-in-out;
}

.visualization-card:hover .visualization-card-image {
    transform: scale(1.1);
}

.visualization-card-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5px;
}

.visualization-card-category {
    width: auto;
    background: #000000;
    color: white;
    -webkit-background-clip: text;
    background-clip: text;
    border-radius: 5px;
    padding: 1px 5px;
    background: linear-gradient(to right, #003acd 0%, #7800E1 50%, transparent 50%, transparent 100%);
    background-size: 200% 100%;
    transition: 0.3s;
}

.visualization-card-title-button-div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
}

.visualization-card-title-button-div span {
    font-size: 25px;
    font-weight: 300;
    color: #fff;
    text-align: left;
    display: block;
    font-family: 'Red Hat Display', sans-serif;
}

.visualization-card-btn {
    background: linear-gradient(to right, #003acd 0%, #7800E1 50%, transparent 50%, transparent 100%);
    background-size: 200% 100%;
    transition: 0.3s;
    border: 1px solid #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.visualization-card-icon {
    width: 16px;
    height: 16px;
}

.visualization-card-btn:hover {
    background-color: darkblue;
}

/* Media Queries for Responsiveness */

@media screen and (max-width: 1200px) {

    .visualization-card-title-buton-div span {
        font-size: 22px;
    }
}

@media screen and (max-width: 768px) {

    .visualization-card-title-button-div span {
        font-size: 20px;
    }

    .visualization-card-btn {
        width: 35px;
        height: 35px;
    }

    .visualization-card-icon {
        width: 14px;
        height: 14px;
    }
}


@media screen and (max-width: 480px) {

    .visualization-card {
        width: 40vh;
        height: 35vh;
    }

    .visualization-card-title-button-div span {
        font-size: 18px;
    }

    .visualization-card-btn {
        width: 32px;
        height: 32px;
    }

    .visualization-card-icon {
        width: 12px;
        height: 12px;
    }

    .visualization-card-info {
        padding: 0.75rem 0;
    }
}